<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.mvc.dao.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.spring.mvc.entity.SysUser">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="account" property="account" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="gender" property="gender" jdbcType="BIT" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="enable" property="enable" jdbcType="BIT" />
        <result column="locked" property="locked" jdbcType="BIT" />
        <result column="create_by" property="createBy" jdbcType="INTEGER" />
        <result column="token" property="token" jdbcType="VARCHAR" />
        <result column="secret_key" property="secretKey" jdbcType="VARCHAR" />
        <result column="token_ expired _time" property="tokenExpiredTime" jdbcType="TIMESTAMP" />
        <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List">
        id, account, password, user_name, gender, email, enable, locked, create_by, token,
        secret_key, "token_ expired _time", last_login_time, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from t_ei_sys_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_ei_sys_user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    
    <insert id="insert" parameterType="com.spring.mvc.entity.SysUser">
        insert into t_ei_sys_user (id, account, password,
        user_name, gender, email,
        enable, locked, create_by, token,
        secret_key, "token_ expired _time", last_login_time,
        create_time, update_time)
        values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{userName,jdbcType=VARCHAR}, #{gender,jdbcType=BIT}, #{email,jdbcType=VARCHAR},
        #{enable,jdbcType=BIT}, #{locked,jdbcType=BIT}, #{createBy,jdbcType=INTEGER}, #{token,jdbcType=VARCHAR},
        #{secretKey,jdbcType=VARCHAR}, #{tokenExpiredTime,jdbcType=TIMESTAMP}, #{lastLoginTime,jdbcType=TIMESTAMP},
        #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    
    <insert id="insertSelective" parameterType="com.spring.mvc.entity.SysUser">
        insert into t_ei_sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="enable != null">
                enable,
            </if>
            <if test="locked != null">
                locked,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="token != null">
                token,
            </if>
            <if test="secretKey != null">
                secret_key,
            </if>
            <if test="tokenExpiredTime != null">
                "token_ expired _time",
            </if>
            <if test="lastLoginTime != null">
                last_login_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=BIT},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=BIT},
            </if>
            <if test="locked != null">
                #{locked,jdbcType=BIT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=INTEGER},
            </if>
            <if test="token != null">
                #{token,jdbcType=VARCHAR},
            </if>
            <if test="secretKey != null">
                #{secretKey,jdbcType=VARCHAR},
            </if>
            <if test="tokenExpiredTime != null">
                #{tokenExpiredTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastLoginTime != null">
                #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.spring.mvc.entity.SysUser">
        update t_ei_sys_user
        <set>
            <if test="account != null">
                account = #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=BIT},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                enable = #{enable,jdbcType=BIT},
            </if>
            <if test="locked != null">
                locked = #{locked,jdbcType=BIT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=INTEGER},
            </if>
            <if test="token != null">
                token = #{token,jdbcType=VARCHAR},
            </if>
            <if test="secretKey != null">
                secret_key = #{secretKey,jdbcType=VARCHAR},
            </if>
            <if test="tokenExpiredTime != null">
                "token_ expired _time" = #{tokenExpiredTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastLoginTime != null">
                last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.spring.mvc.entity.SysUser">
        update t_ei_sys_user
        set account = #{account,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        user_name = #{userName,jdbcType=VARCHAR},
        gender = #{gender,jdbcType=BIT},
        email = #{email,jdbcType=VARCHAR},
        enable = #{enable,jdbcType=BIT},
        locked = #{locked,jdbcType=BIT},
        create_by = #{createBy,jdbcType=INTEGER},
        token = #{token,jdbcType=VARCHAR},
        secret_key = #{secretKey,jdbcType=VARCHAR},
        "token_ expired _time" = #{tokenExpiredTime,jdbcType=TIMESTAMP},
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>