<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">

	<!-- 启动spring mvc自动扫描 -->
	<context:component-scan base-package="com.spring.mvc.web" />

	<!-- Spring3.1后，使用RequestMappingHandlerMapping和RequestMappingHandlerAdapter来代替-->
	<bean class="com.spring.mvc.web.version.CustomRequestMappingHandlerMapping" >
		<property name="order" value="0"/>
	</bean> 
	<!-- mvc:annotaion 替代了 -->
	<!-- <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" >
		<property name="messageConverters">
			<list>
				<bean class="com.spring.mvc.web.message.CallbackMappingJackson2HttpMessageConverter"/>	callback json message converter
			</list>
		</property>
	</bean> -->
	
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- springmvc 添加validation and internationalization (验证和国际化)-->
	
	<!-- 国际化ResourceBundle -->
	<bean id="resourceBundleMessageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<!-- 国际化信息所在的文件 -->
		<property name="basenames">
			<list>
				<value>classpath:i18n/messages</value>
			</list>
		</property>
		<!-- 如果在国际化资源文件中找不到代码信息，就用这个代码作为名称 -->
		<property name="useCodeAsDefaultMessage" value="true"/>
	</bean>
	
	<!-- 验证器 -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
		<!--如果不加，默认使用classpath下的 ValidationMessages.properties -->
		<property name="validationMessageSource" ref="resourceBundleMessageSource" />
	</bean>
	
	<!-- 开启SpringMVC注解模式 ,开启验证并支持国际化-->
	<mvc:annotation-driven validator="validator">
		<mvc:message-converters>
			<bean class="com.spring.mvc.web.message.CallbackMappingJackson2HttpMessageConverter"/>	<!-- callback json message converter -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter"/> 			   <!-- String converter -->
			<bean class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter"/>	   <!-- xml converter need oxm-->
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- mvc注解驱动 
	<mvc:default-servlet-handler />  -->
	<!-- swagger api 
	<mvc:annotation-driven/>
	<mvc:resources mapping="/swagger/**" location="/WEB-INF/swagger/"/>
	<bean class="com.mangofactory.swagger.configuration.SpringSwaggerConfig" />-->
	
	<!-- 静态资源访问（不拦截此目录下的东西的访问） -->
	<!-- <mvc:resources location="/js/" mapping="/js/**" /> -->
	
	<!-- 视图解析器 -->
	<!-- <bean id="markerViewResolver"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="cache" value="true" />
		<property name="requestContextAttribute" value="rc" />
		<property name="exposeSpringMacroHelpers" value="true" />
		<property name="contentType" value="text/html;charset=utf-8" />
		<property name="prefix" value="/WEB-INF/ftl" />
		<property name="suffix" value=".ftl" />
		<property name="order" value="1" />
	</bean> -->

	<!-- <bean id="excelViewResolver" class="com.spring.mvc.views.ExcelView"/> 
		<bean id="pdfViewResolver" class="com.spring.mvc.views.PDFView"/> -->

	<!-- <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/*.xls">excelViewResolver</prop>
                <prop key="/*.pdf">pdfViewResolver</prop>
                <prop key="/*.jsp">jspViewResolver</prop>
            </props>
        </property>
    </bean> -->
	
</beans>