<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.0.xsd">
			
			<!-- http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx-4.0.xsd -->

	<!-- 	<context:component-scan base-package="com.spring.mvc.job" /> -->
	
	<!-- Quartz三个要素 1、JobDetail 2、Trigger 3、Scheduler -->
	<!-- JobDetailBean -->

	<bean id="firstJob" class="com.spring.mvc.job.FirstJob" />
	
	<!-- jobDetail:MethodInvokingJobDetailFactoryBean -->
	<bean id="jobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="firstJob" />
		<property name="targetMethod" value="run" />
		<property name="concurrent" value="false" />
	</bean>

	<!-- cronTrigger -->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="jobDetail" />
		<property name="cronExpression" value="0 0 6 * * ?" />
		<!-- cronExpression的格式包含六段，前五段为执行计划，第六段为要执行的命令 -->
	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTrigger" />
			</list>
		</property>
	</bean>
</beans>